@import 'tailwindcss';
@import './styles/global.css';

body {
  margin: 0;
  min-height: 100vh;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.animate-float {
  animation: float 2.5s ease-in-out infinite;
}
